@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.loaction{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.ln1{
    margin: 5px;
    list-style: none;
    
}
.kat{
    padding-top: 24px;
}
.l2 ,.l3{
    font-family: 'Reggae One', cursive;
    font-size: 25px;
}

.HR{
    width:80%;
    margin-left:150px;
}
@media (max-width:700px) {

    .HR{  
        margin-left:50px;
      }
}